<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:seven="http://www.badidu.com/seven/schema/person"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.badidu.com/seven/schema/person
    http://www.badidu.com/seven/schema/person/person.xsd">

    <seven:person id="isMe" name="张三" age="28" />

</beans>